$imgPath: "../../assets/img/";
html,
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.hr {
    align-self: center;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    height: 1px;
    width: 100%;
}

.material-container {
    background: white;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);
}

.wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1920px;
}

.page__bg {
    // background: url($imgPath+"header.png") center no-repeat;
    // background: #595c60;
    // -webkit-clip-path: polygon(0 0, 0% 100%, 77% 0);
    // clip-path: polygon(0 0, 0% 100%, 77% 0);
    // background-size: cover;
    // height: 100vh;
    // width: 100%;
    // position: absolute;
    // z-index: -1;
    background: #ffffff;
}

.topbar {
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    height: 60px;
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    &__logo {
        background: blue;
        position: absolute;
        top: 0;
        left: 50%;
        width: 100px;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        display: none;
    }
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    ul {
        display: flex;
        width: 100%;
        margin: 0 50px;
        list-style: none;
        justify-content: space-between;
        li {
            display: flex;
            margin: 10px;
        }
    }
}

.about {
    @media (min-device-width: 320px) and (max-device-width: 480px) {
        clip-path: polygon(0 0, 100% 0%, 100% 99%, 0 100%);
        grid-template-columns: 1fr;
    }
    background: #3f3e4c;
    clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 100%);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    &__generally {
        align-items: center;
        color: whitesmoke;
        display: flex;
        grid-column: 1/3;
        grid-row: 1/2;
        padding: 40px 100px;
        h3 {
            font-size: xx-large;
            &::after {
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                content: '';
                display: block;
                margin-top: 20px;
                width: 20%;
            }
        }
        img {
            box-sizing: border-box;
            height: 80vh;
            opacity: 0.5;
            shape-outside: content-box polygon( 25% 8.6%, 37.6% -1.1%, 98.5% 0.6%, 99.6% 99.8%, 8.8% 99%, 9.3% 87.2%, 0.9% 65.1%, 0.6% 41.7%, 25% 29.4%);
        }
        p {
            font-size: 1.4em;
            margin-right: 80px;
        }
    }
    &__education {
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 5%;
    }
    &__experience {
        grid-row: 2/3;
        grid-column: 1/2;
    }
}

.my-skills,
.projects,
.contact {
    height: 600px;
}