html,
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none; }

.hr {
  align-self: center;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  height: 1px;
  width: 100%; }

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 1920px; }

.page__bg {
  background: #ffffff; }

.topbar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  height: 60px;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  align-items: center; }
  .topbar__logo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px; }

nav {
  display: flex;
  justify-content: center;
  width: 100%; }
  nav ul {
    display: flex;
    width: 100%;
    margin: 0 50px;
    list-style: none;
    justify-content: space-between; }
    nav ul li {
      display: flex;
      margin: 10px; }

.about-me__bg {
  background-color: red;
  -webkit-clip-path: polygon(0 46%, 100% 100%, 0 100%);
  clip-path: polygon(0 46%, 100% 100%, 0 100%); }

.about-me,
.my-skills,
.projects,
.contact {
  height: 600px; }
