$imgPath: "../../assets/img/";
html,
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.hr {
    align-self: center;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    height: 1px;
    width: 100%;
}

.material-container {
    background: white;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.5);
}

.wrapper {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1920px;
}

.page__bg {
    // background: url($imgPath+"header.png") center no-repeat;
    // background: #595c60;
    // -webkit-clip-path: polygon(0 0, 0% 100%, 77% 0);
    // clip-path: polygon(0 0, 0% 100%, 77% 0);
    // background-size: cover;
    // height: 100vh;
    // width: 100%;
    // position: absolute;
    // z-index: -1;
    background: #ffffff;
}

.topbar {
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    height: 60px;
    left: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    &__logo {
        background: blue;
        position: absolute;
        top: 0;
        left: 50%;
        width: 100px;
    }
    @media (min-device-width: 320px) and (max-device-width: 480px) {
        display: none;
    }
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    ul {
        display: flex;
        width: 100%;
        margin: 0 50px;
        list-style: none;
        justify-content: space-between;
        li {
            display: flex;
            margin: 10px;
        }
    }
}

.about {
    @media (min-device-width: 320px) and (max-device-width: 480px) {
        background: red !important;
        clip-path: polygon(0 0, 100% 0%, 100% 99%, 0 100%);
        grid-template-columns: 1fr;
    }
    background: #f2f2f2;
    clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 100%);
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px 0 30px;
    position: relative;
    &__generally {
        padding: 20px;
        &__content {
            @extend .material-container;
            border-radius: 10px;
            overflow: hidden;
        }
        img {
            box-sizing: border-box;
            width: 100%;
        }
        .text {
            padding: 20px;
        }
    }
    &__education {
        padding: 5%;
    }
}

.my-skills,
.projects,
.contact {
    height: 600px;
}