.header {
    align-items: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    &__bg {
        // background: url($imgPath+"header.png") center no-repeat;
        background-attachment: fixed;
        background-size: cover;
        clip-path: polygon(0 0, 0 80%, 50% 100%, 100% 80%, 100% 0);
        filter: blur(10px);
        height: 100vh;
        position: absolute;
        width: 100%;
        transform: scale(1.1);
        z-index: -1;
        .bgMask {
            background: radial-gradient(ellipse at center, #d5dee5 10%, #00193d 80%); // background: linear-gradient(45deg, #00193d 0%, #d5dee5 100%);
            height: 100%;
            opacity: 0.4;
            width: 100%;
        }
    }
    &__container {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100%;
        justify-items: center;
        margin: 0 40px;
    }
    &__title {
        color: white;
        grid-column: 1/6;
        grid-row: 1/2;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        width: 80%;
        h1 {
            font-size: 4em;
        }
        h3 {
            font-size: 2em;
        }
    }
    &__desc {
        background: white;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
        display: grid;
        grid-template-rows: 1fr 9px 1fr;
        grid-column: 3/4;
        grid-row: 2/3;
        grid-row-gap: 10px;
        padding: 10px;
        margin: 10px;
        transition: 300ms;
        &:hover {
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4);
            transform: translateY(-2px);
        }
        &__photo {
            background: no-repeat center center;
            background-size: cover;
            border: 1px solid rgba(0, 0, 0, 0.5);
            display: flex;
            grid-row: 1/2;
            height: 300px;
        }
        .hr {
            grid-row: 2/3;
            grid-column: 1/3;
        }
        &__txt {
            display: flex;
            grid-row: 3/4;
        }
    }
}