/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header__title h1 {
    font-size: 4em; }
  .header__title h3 {
    font-size: 2em; }
  .header__desc {
    grid-row: 2/4; }
    .header__desc__photo {
      grid-row: 1/2; }
    .header__desc .hr {
      grid-row: 2/3;
      grid-column: 1/3; }
    .header__desc__txt {
      display: flex;
      grid-row: 3/4; } }

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header__title h1 {
    font-size: 4em; }
  .header__title h3 {
    font-size: 2em; }
  .header__desc {
    grid-row: 2/4; }
    .header__desc__photo {
      grid-row: 1/2; }
    .header__desc .hr {
      grid-row: 2/3;
      grid-column: 1/3; }
    .header__desc__txt {
      display: flex;
      grid-row: 3/4; } }

/* iPads (landscape) ----------- */
.header {
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: relative; }
  .header__bg {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1; }
    .header__bg .bgMask {
      background: radial-gradient(ellipse at center, #d5dee5 10%, #00193d 80%);
      height: 100%;
      opacity: 0.4;
      width: 100%; }
  .header__container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    height: 100%;
    justify-items: center;
    margin: 0 40px; }
  .header__title {
    color: white;
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    width: 80%; }
    .header__title h1 {
      font-size: 3em; }
    .header__title h3 {
      font-size: 2em; }
  .header__get-more {
    align-self: flex-start;
    background: #9ef8fc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    grid-column: 3/4;
    padding: 20px 40px;
    transition: 200ms; }
    .header__get-more:hover {
      background: #cffcfe;
      cursor: pointer; }
      .header__get-more:hover::after {
        transform: rotate(90deg); }
    .header__get-more::after {
      transition: 200ms;
      content: '\2192';
      display: inline-block;
      margin-left: 5px;
      font-weight: bold; }
  .header__desc {
    background: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 1fr 9px 1fr;
    grid-column: 3/4;
    grid-row: 2/3;
    grid-row-gap: 10px;
    padding: 10px;
    margin: 10px;
    transition: 200ms; }
    .header__desc:hover {
      box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.4);
      transform: translateY(-2px); }
    .header__desc__photo {
      background: no-repeat center center;
      background-size: cover;
      border: 1px solid rgba(0, 0, 0, 0.5);
      display: flex;
      grid-row: 1/2;
      height: 300px; }
    .header__desc .hr {
      grid-row: 2/3;
      grid-column: 1/3; }
    .header__desc__txt {
      display: flex;
      grid-row: 3/4; }
