.header {
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative; }
  .header__bg {
    background: #595c60;
    clip-path: polygon(0 0, 0% 160%, 80% 0%);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    background: red;
    z-index: -1;
    background-blend-mode: multiply; }
    .header__bg .bgMask {
      width: 100%;
      height: 100%;
      opacity: 0.4;
      background: radial-gradient(ellipse at 20% 55%, #87e0fd 0%, #01273A 70%); }
  .header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title photo";
    margin: 0 40px;
    align-items: center;
    justify-items: center;
    height: 100%; }
  .header__title {
    grid-area: title;
    width: 80%;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); }
    .header__title h1 {
      font-size: 4em; }
    .header__title h3 {
      font-size: 2em; }
  .header__photo {
    grid-area: photo;
    display: flex;
    background: no-repeat center center;
    background-size: cover;
    width: 400px;
    height: 600px;
    border: 5px solid #1673da;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }
