$txtBg: white;
.timeline {
    & +.onLeft {
        align-items: flex-start;
        &__text {
            justify-content: flex-start;
            width: 50%;
            .pin {
                background: red;
                position: relative;
            }
            .txt {
                position: relative;
                &::after {
                    margin-left: 40px;
                }
            }
        }
    }
    &+.onBoth {
        align-items: center;
        &__text {
            width: 50%;
            justify-content: center;
            &:nth-child(odd) {
                .txt {
                    box-shadow: -1px 2px 3px -2px rgba(0, 0, 0, .7);
                    left: -50%;
                    margin-right: 40px;
                    width: 100%;
                    &::after {
                        clip-path: polygon(0 0, 100% 50%, 0% 100%); // box-shadow: 1px 1px 10px black;
                        right: -10px;
                    }
                }
            }
            &:nth-child(even) {
                .txt {
                    box-shadow: 1px 2px 3px -2px rgba(0, 0, 0, .7);
                    margin-left: 40px;
                    right: -50%;
                    width: 100%;
                    &::after {
                        clip-path: polygon(0 50%, 100% 0, 100% 100%); // box-shadow: 1px 1px 10px black;
                        left: -10px;
                    }
                }
            }
        }
    }
    &+.onLeft {
        align-items: flex-end;
    }
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    &__text {
        box-sizing: border-box;
        display: flex;
        margin: 20px 0;
        position: relative;
        text-align: center;
        .pin {
            align-items: center;
            background: white;
            border: 2px solid rgba(0, 0, 0, .7);
            border-radius: 50%;
            box-sizing: border-box;
            display: flex;
            height: 40px;
            justify-content: center;
            overflow: hidden;
            padding: 5px;
            position: absolute;
            width: 40px;
        }
        .txt {
            background: $txtBg;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 5px;
            position: relative;
            top: -5px;
            &::after {
                background: $txtBg;
                content: '';
                display: block;
                height: 30px;
                position: absolute;
                width: 15px;
                top: 10px;
            }
        }
    }
    &__line {
        background: rgba(0, 0, 0, .6);
        height: 100%;
        position: absolute;
        top: 0;
        width: 2px;
    }

    
}

//     .timeline {
//     align-content: center;
//     align-items: center;
//     background: red;
//     display: grid;
//     grid-template-columns: 10fr 1fr 10fr;
//     justify-content: center;
//     justify-items: center;
//     margin: 5px;
//     &__text {
//         background: $txtBg;
//         border-radius: 10px;
//         margin: 15px;
//         padding: 10px;
//         position: relative;
//     }
//     &__left-side {
//         &::after {
//             background: $txtBg;
//             clip-path: polygon(0 0, 100% 50%, 0 100%);
//             content: '';
//             display: inline-block;
//             width: 20px;
//             height: 40px;
//             position: absolute;
//             top: 0;
//             right: -10px;
//         }
//     }
//     &__axis {
//         height: 100%;
//         position: relative;
//         &__line {
//             background: rgba(0, 0, 0, .7);
//             height: 100%;
//             left: calc(50% - 2px);
//             position: absolute;
//             width: 2px;
//         }
//         .pin {
//             background: white;
//             border-radius: 50%;
//             left: 0;
//             margin: 5px 0;
//             padding: 10px;
//             position: relative;
//             top: 0;
//         }
//     }
//     &__right-side {
//         &::after {
//             background: $txtBg;
//             clip-path: polygon(0 50%, 100% 0, 100% 100%);
//             content: '';
//             display: inline-block;
//             width: 20px;
//             height: 40px;
//             position: absolute;
//             top: 0;
//             left: -10px;
//         }
//     }
// }