.amazing-item {
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  top: 0; }

.hover-content--container {
  height: 100%;
  left: 0;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 10% 1fr 10%;
  overflow: hidden;
  perspective: 2000px;
  position: absolute;
  width: 100%;
  top: 0; }

.hover-content {
  background-color: rgba(26, 188, 156, 0.9);
  backface-visibility: hidden;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  transform: rotate3d(1, 0, 0, 90deg);
  width: 100%;
  top: 0; }

.in-top .dir {
  opacity: 0.4; }

.in-top .hover-content {
  transform-origin: 50% 0%;
  animation: in-top 300ms ease 0ms 1 forwards; }

.in-right .hover-content {
  transform-origin: 100% 0%;
  animation: in-right 300ms ease 0ms 1 forwards; }

.in-bottom .hover-content {
  transform-origin: 50% 100%;
  animation: in-bottom 300ms ease 0ms 1 forwards; }

.in-left .hover-content {
  transform-origin: 0% 0%;
  animation: in-left 300ms ease 0ms 1 forwards; }

.out-top .hover-content {
  transform-origin: 50% 0%;
  animation: out-top 300ms ease 0ms 1 forwards; }

.out-right .hover-content {
  transform-origin: 100% 50%;
  animation: out-right 300ms ease 0ms 1 forwards; }

.out-bottom .hover-content {
  transform-origin: 50% 100%;
  animation: out-bottom 300ms ease 0ms 1 forwards; }

.out-left .hover-content {
  transform-origin: 0% 0%;
  animation: out-left 300ms ease 0ms 1 forwards; }

@keyframes in-top {
  0% {
    transform: rotate3d(-1, 0, 0, 90deg); }
  100% {
    transform: rotate3d(0, 0, 0, 0deg); } }

@keyframes in-right {
  0% {
    transform: rotate3d(0, -1, 0, 90deg); }
  100% {
    transform: rotate3d(0, 0, 0, 0deg); } }

@keyframes in-bottom {
  0% {
    transform: rotate3d(1, 0, 0, 90deg); }
  100% {
    transform: rotate3d(0, 0, 0, 0deg); } }

@keyframes in-left {
  0% {
    transform: rotate3d(0, 1, 0, 90deg); }
  100% {
    transform: rotate3d(0, 0, 0, 0deg); } }

@keyframes out-top {
  0% {
    transform: rotate3d(0, 0, 0, 0deg); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate3d(-1, 0, 0, 104deg); } }

@keyframes out-right {
  0% {
    transform: rotate3d(0, 0, 0, 0deg); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate3d(0, -1, 0, 104deg); } }

@keyframes out-bottom {
  0% {
    transform: rotate3d(0, 0, 0, 0deg); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate3d(1, 0, 0, 104deg); } }

@keyframes out-left {
  0% {
    transform: rotate3d(0, 0, 0, 0deg); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate3d(0, 1, 0, 104deg); } }
