$duration: 300ms;
$timing-fn: ease;
$turquoise: #1ABC9C;
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;
$clouds: #ECF0F1;
.amazing-item {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
}


.hover-content--container {
    height: 100%;
    left: 0;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 10% 1fr 10%;
    overflow: hidden;
    perspective: 1200px;
    position: absolute;
    width: 100%;
    top: 0;
}

.hover-content {
    background-color: transparentize($turquoise, .1);
    backface-visibility: hidden;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    transform: rotate3d(1, 0, 0, 90deg);
    width: 100%;
    top: 0;
}

.dir-detect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dir {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top {
    opacity: 0;
    clip-path: polygon(0 0, 100% 0, 50% 50%);
}

.right {
    opacity: 0;
    clip-path: polygon(100% 0%, 100% 100%, 50% 50%);
}

.bottom {
    opacity: 0;
    clip-path: polygon(0 100%, 50% 50%, 100% 100%);
}

.left {
    opacity: 0;
    clip-path: polygon(0 0, 50% 50%, 0 100%);
}

.in-top {
    .dir {
        opacity: 0.4;
    }
    .hover-content {
        transform-origin: 50% 0%;
        animation: in-top $duration $timing-fn 0ms 1 forwards;
    }
}

.in-right {
    .hover-content {
        transform-origin: 100% 0%;
        animation: in-right $duration $timing-fn 0ms 1 forwards;
    }
}

.in-bottom {
    .hover-content {
        transform-origin: 50% 100%;
        animation: in-bottom $duration $timing-fn 0ms 1 forwards;
    }
}

.in-left {
    .hover-content {
        transform-origin: 0% 0%;
        animation: in-left $duration $timing-fn 0ms 1 forwards;
    }
}

.out-top {
    .hover-content {
        transform-origin: 50% 0%;
        animation: out-top $duration $timing-fn 0ms 1 forwards;
    }
}

.out-right {
    .hover-content {
        transform-origin: 100% 50%;
        animation: out-right $duration $timing-fn 0ms 1 forwards;
    }
}

.out-bottom {
    .hover-content {
        transform-origin: 50% 100%;
        animation: out-bottom $duration $timing-fn 0ms 1 forwards;
    }
}

.out-left {
    .hover-content {
        transform-origin: 0% 0%;
        animation: out-left $duration $timing-fn 0ms 1 forwards;
    }
}

@keyframes in-top {
    from {
        transform: rotate3d(-1, 0, 0, 90deg)
    }
    to {
        transform: rotate3d(0, 0, 0, 0deg)
    }
}

@keyframes in-right {
    from {
        transform: rotate3d(0, -1, 0, 90deg)
    }
    to {
        transform: rotate3d(0, 0, 0, 0deg)
    }
}

@keyframes in-bottom {
    from {
        transform: rotate3d(1, 0, 0, 90deg)
    }
    to {
        transform: rotate3d(0, 0, 0, 0deg)
    }
}

@keyframes in-left {
    from {
        transform: rotate3d(0, 1, 0, 90deg)
    }
    to {
        transform: rotate3d(0, 0, 0, 0deg)
    }
}

@keyframes out-top {
    from {
        transform: rotate3d(0, 0, 0, 0deg)
    }
    to {
        transform: rotate3d(-1, 0, 0, 104deg)
    }
}

@keyframes out-right {
    from {
        transform: rotate3d(0, 0, 0, 0deg)
    }
    to {
        transform: rotate3d(0, -1, 0, 104deg)
    }
}

@keyframes out-bottom {
    from {
        transform: rotate3d(0, 0, 0, 0deg)
    }
    to {
        transform: rotate3d(1, 0, 0, 104deg)
    }
}

@keyframes out-left {
    from {
        transform: rotate3d(0, 0, 0, 0deg)
    }
    to {
        transform: rotate3d(0, 1, 0, 104deg)
    }
}
