.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 50px; }
  .skills .skill {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 240px 1fr;
    position: relative; }
    .skills .skill .info {
      background: green;
      height: 100%; }
    .skills .skill svg {
      height: 100%;
      width: 100%; }
