.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px; }
  .skills .skill {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 240px 1fr;
    justify-items: center;
    position: relative; }
    .skills .skill:hover::after {
      height: 100%; }
    .skills .skill svg {
      height: 100%;
      width: 100%; }

.right {
  animation: test 500ms 1; }

@keyframes test {
  from { }
  to { } }

.left {
  background: red;
  width: 100%;
  height: 100%;
  animation: test2 500ms 1; }

@keyframes test2 {
  from { }
  to { } }
