.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 50px;
    .skill {
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 240px 1fr;
        position: relative;
        &:hover {
            &::after {
                height: 100%;
            }
        }
        svg {
            height: 100%;
            width: 100%;
        }
    }
}